<div class="card mb-3 mt-3" id="allmaps-sidebar" data-iiif-manifest="<%=@document.iiif_manifest_url %>">
  <div class="card-header">
    <h2 class="mb-0 h6"><%= t('home.georeferencing') %></h2>
  </div>

  <div class="card-body" id="georeferencing">
    <% if @document.sidecar_allmaps.georeferenced? %>
      <div id="georef_present">
        <%= link_to t('allmaps.georeferenced_link'), 'https://viewer.allmaps.org/?url=https://annotations.allmaps.org/?url=' + @document.iiif_manifest_url, target: '_blank' %>
      </div>
    <% else %>    
      <%# content will be updated via updateGeorefLinks(); %>
      <div id="georef_loading">
        <%= t('allmaps.loading') %>
      </div>
    <% end %>
  </div>

  <div class="card-footer text-muted">
    <small>
      <a href="https://allmaps.org" class="text-decoration-none text-dark">
        <%= image_tag 'blacklight/allmaps/allmaps-logo.svg', alt: 'Allmaps', height:"20" %>
        Allmaps
      </a>
    </small>
  </div>
</div>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', () => {
    const updateGeorefLinks = async () => {
      const manifestUrl = document.getElementById('allmaps-sidebar').getAttribute('data-iiif-manifest');
      const georefDiv = document.getElementById('georeferencing');
      const annotationUrlByIIIFUri = `https://annotations.allmaps.org/?url=${manifestUrl}`;

      try {
        const response = await fetch(annotationUrlByIIIFUri);
        if (!response.ok) {
          georefDiv.innerHTML = `<a href="https://editor.allmaps.org/#/collection?url=${manifestUrl}"><%= t('allmaps.georeference_link') %></a>`;

          // If no annotation data is found, queue a background job to store the annotation data to the database
          csrfToken = document.querySelector("meta[name='csrf-token']").getAttribute("content");
          fetch("/allmaps/annotations/" + "<%= @document.id %>", { 
            method: "PUT", 
            headers: {
            "X-CSRF-Token": csrfToken,
            "Content-Type": "application/json",
            "Accept": "application/json"
          }})
            .then(response => response.json())
            .then(data => console.log(data))
            .catch(error => console.error(error));

        } else {
          const annotationUrl = response.url;
          georefDiv.innerHTML = `<a href="https://viewer.allmaps.org/?url=${annotationUrl}"><%= t('allmaps.georeferenced_link') %></a>`;
        }
      } catch (error) {
        console.error("Fetch error:", error);
      }
    };

    updateGeorefLinks();
  });
</script>